<html>
	<head>
		<link rel="stylesheet" href="~/css/Index.css" />
	</head>
	<body>
		<div class="lbox">
		</div>
		<div class="rbox">
			<section class="loginsection">
				<h2>Login To Your Account</h2>
				<form class="loginbox" autocomplete="off">
					<input placeholder="Username" type="text" id="username" />
					<input placeholder="Password" type="password" id="password" />
					<button id="submit">Login</button>
				</form>
			</section>
		</div>
	</body>
</html>